/* Configuracoes gerais mobile first */
* {
	font-family: Arial;
	margin: 0px;
	padding: 0px;
}
body {
	height: 100vh;
	position: relative;
}
header {
	display: flex;
	justify-content: flex-end;
}
header .titulos ul {
	list-style: none;
	display: flex;
	align-items: center;
}
.titulos ul li {
	margin-right: 20px;
	margin-top: 15px;
}
.titulos ul a {
	text-decoration: none;
	color: #000;
	font-size: 13px;
}
.titulos ul a:hover {
	text-decoration: underline;
}
.titulos .menu-bolinhas {
	margin-left: 10px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
}
.titulos .foto-perfil {
	width: 38px;
	height: 38px;
	box-sizing: border-box;
}
.titulos .foto-perfil img {
	border-radius: 50%;
}
.titulos .foto-perfil img:hover {
	border: 5px solid #d1d1d14d;
}
.titulos img {
	width: 100%;
	height: 100%;
}
aside {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
main {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
main section form .pesquisa {
	border: 1px solid #ddd;
	padding: 10px;
	display: flex;
	border-radius: 20px;
	width: 85vw;
}
main section form .pesquisa:hover {
	box-shadow: 0px 0px 10px rgba(187, 187, 187, 0.541);
}
section form .pesquisa input {
	width: 85%;
	outline: 0;
	border: 0px;
}
section form .material-symbols-outlined {
	color: rgb(73, 73, 73);
	font-weight: lighter-normal;
	margin-right: 15px;
}
section form .search1 {
	color: rgb(134, 133, 133);
}
section form .bar-button {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
section form .bar-button a {
	text-decoration: none;
	color: #444;
	font-size: 13px;
	margin-right: 20px;
	background-color: #f0f0f0;
	padding: 10px 20px;
	border-radius: 5px;
}
section form .bar-button a:hover {
	box-shadow: 0px 2px 5px rgba(221, 221, 221, 0.486);
	border: 1px solid #ccc;
}
section .referencia {
	display: flex;
	justify-content: center;
	font-size: 13px;
	margin-top: 25px;
}
section .referencia a {
	color: #00f;
	text-decoration: none;
}
section .referencia a:hover {
	text-decoration: underline;
}
footer {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100vw;
}
footer .brasil {
	background-color: #f2f2f2;
	padding: 15px 30px;
	color: #787878;
	border-bottom: 1px solid #d9d9d9;
	font-size: 13px;
}
footer .footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #f2f2f2;
}
footer .footer a {
	text-decoration: none;
	color: #787878;
	padding: 15px 30px;
	font-size: 13px;
}